#btnfree {
    margin-left: 43%;
    margin-top: 1%;
}
#see {
    color: black;
}
.container2 {
    border: 3px solid white;
    height: 55%;
    border-radius: 20px;
    width: 65%;
    margin-top: 6%;
    margin-left: 2%;
}
.container3 {
    border: 3px solid white;
    height: 100%;
    border-radius: 20px;
    width: 40%;
    margin-left: 105%;
}